<% include ../layouts/header.ejs %>
    <div id="app">
        <form action="/login" method="post">
            <div class="container">
                <label for="login"><b>Логин</b></label>
                <input type="text" placeholder="Введите логин" name="login" required>
                <label for="psw"><b>Пароль</b></label>
                <input type="password" placeholder="Введите пароль" name="psw" required>
                <hr>
                <button type="submit" class="actionbtn">Войти</button>
            </div>
        </form>
    </div>

    <script src="client.js" type="module"></script>
<% include ../layouts/footer.ejs %>