<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Регистрация - NodeServCliSkeleton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body data-page-name="register">
    <nav class="menu">
        <ul>
            <li><a href="/">Главная страница</a></li>
            <li><a href="/register">Регистрация</a></li>
            <li><a href="/login">Авторизация</a></li>
        </ul>
    </nav>
    <h1>Регистрация</h1>
    <div id="app">
        <% if(errors){ %>
        <p class="error-msg <%= !success?'bad':'success'%>">
            <%= errors %>
        </p>
        <% } %>
        <form action="/register" method="post">
            <div class="container">
                <label for="login"><b>Логин</b></label>
                <input type="text" placeholder="Введите логин" name="login" required>
                <label for="psw"><b>Пароль</b></label>
                <input type="password" placeholder="Введите пароль" name="psw" required>
                <label for="psw-repeat"><b>Повторите пароль</b></label>
                <input type="password" placeholder="Повторите пароль" name="psw_repeat" required>
                <hr>
                <button type="submit" class="actionbtn">Регистрация</button>
            </div>
        </form>
    </div>
    <script src="client.js"></script>
</body>

</html>